/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

.sfooter-content {
	text-align: center;
}

* {
	font-family: "Roboto M";
}

h1 {
	display: inline;
	font-width: bold;
}

em {
	display: inline;
}

header {
	background-color: rgba(39, 40, 41, 0.96);
	color: lawngreen;
	padding:25px;
	text-align: center;
}

.instructions-wrapper {
	display: flex;
	flex-direction: row;
	border: solid;
	margin: 2em 4em;
	text-align: left;

}

.instructions-wrapper img {
	padding: 1em;
	height: 8em;
}
.about-me .container {
	display: block;
}

.about-me {
	background-color: blue;
	color: white;
	text-align: left;

}

span {
	color: yellow;
	font-weight: bold;
}

img[src*="welcome"] {
	border: white;
	border-style: solid;
	margin: 2em 4em;
}

p {
	;
}

.container h2 {
	text-align: right;
}

table {
	width: 100%;
	border: .50px solid white;
	color: limegreen;
}

th, td{
	background-color: rgba(39, 40, 41, 0.96);
	padding: 15px;
	text-align: left;
}

.form-wrapper h2 {
	text-align: left;
}

.form-wrapper {
	background-color: darkgreen;
	color: limegreen;
	display: block;
	padding: 15px;
	text-align: left;
}

.form-wrapper label {
	display: block;
	padding: 5px;
}

.form-wrapper input, textarea {
	display: block;
}

.form-wrapper button {
	color: black;
	background-color: lawngreen;
	border: none;
	padding: 5px;
	width: 10%;
	font-weight: bold;
}

.form-wrapper h2 {
	font-weight: bold;
}

.container.form-wrapper {
	background-color: gray;
}

footer {
	background-color: black;
	color: white;
	padding:25px;
	text-align: center;
	font-size: small;
}
